//fonts================================================================
$en-font: 'Catamaran', sans-serif;

//版面背景================================================================
$bg-pattern: url(../images/bg-pattern-logos.png);

//灰階================================================================
$white: #fff; //白色
$light: #e2e2e2; //淺色
$light-gray: #e4e4e4; //淺灰
$gray: #a2a2a2; //灰色
$deep-gray: #575757; //深灰
$deep: #383838; //深色
$black: #1a1a1a; //黑色

//版面顏色================================================================
$color-deep: #302f2f;
$color-black: #2a2929;
$color-red: #e70112;
$color-deep-red: #b20722;
$color-blue: #23b2ff;
$color-purple: #bc00b7;

//文字尺寸==================================================================
$font-size-s: 1.3rem;
$font-size-m: 1.5rem;
$font-size-l: 1.75rem;
$font-size-xl: 4.3rem;
$font-size-xxl: 11rem;

//文字字重==================================================================
$bold: 700;
$bolder: 800;

//文字字距==================================================================
$letter-s: .05rem;

//文字行高==================================================================
$line-h-m: 2rem;

//圖角樣式border radius =========================================================
$border-r-s: 15px;
$border-r-l: 2.5rem;
$border-t: 20px 20px 0 0;


//邊框樣式border =================================================================
$border-a: 2px solid transparent;
$border-white: 2px solid white;

//interval間距==================================================================
$interval-s: 25px;
$interval-m: 35px;
$interval-l: 10%;
$interval-xl: 50px;
$interval-xxl: 200px;

$interval-text-m: 20px 0 10px;
$interval-text-l: 70px 0 40px;

//基本過場速度================================================================
$transition: all 0.4s ease-in-out;
$transition-slow: all 1s ease-in-out;

//基本動畫速度================================================================
$animation: ease-in-out both infinite;